---
import BaseLayoutAstroComponent from "../layouts/BaseLayout.astro";
---

<html lang="en">
  <link href="/css/styles.css" rel="stylesheet" />

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Journal</title>
  <BaseLayoutAstroComponent>
    <main style="padding-top: 100px;">
      <h1>Natalie's MFA Mastery Journal</h1>
      <script
        id="asp-embed-script"
        data-zindex="1000000"
        type="module"
        type="text/javascript"
        charset="utf-8"
        src="https://new.express.adobe.com/webpage/static/embed/embed.js"
      ></script>
      <a
        class="asp-embed-link"
        href="https://new.express.adobe.com/webpage/hwa5vQt6VsFPf/"
        target="_blank"
      >
        <img
          src="https://new.express.adobe.com/webpage/hwa5vQt6VsFPf/resources?asset_id=rendition&buster=1783708810789"
          alt="Mastery Journal"
          style="width:100%"
        /></a
      >
    </main>
  </BaseLayoutAstroComponent>
</html>
