---
// src/pages/index.astro
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hero</title>
  </head>
  <div id="hero">
    <div class="hero-text">
      <h1 style="font-size: clamp(2rem, 4vw, 4rem);">
        Dangerous Angels Creative
      </h1>
      <h2
        style="font-family: 'Alex Brush', cursive; font-size: clamp(1rem, 4vw, 2rem);"
      >
        Natalie Reuchlein
      </h2>
      <p
        style="font-family: 'Bitter', serif; font-weight: 700;font-size: clamp(.75rem, 4vw, 1.25rem);"
      >
        Media Designer
      </p>
      <p
        style="font-family: 'Bitter', serif; margin-top: -1em;font-weight: 100;font-size: clamp(.5rem, 4vw, 1rem);"
      >
        Design The Meaning
      </p>
    </div>
  </div>


</html>
