<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hero</title>
  </head>
  <div id="hero">
    <div class="hero-text">
      <h1 style="font-size: 60px;">Dangerous Angels Creative</h1>
      <h2 style="font-family: 'Alex Brush', cursive; font-size: 55px;">
        Natalie Reuchlein
      </h2>
      <p
        style="font-family: 'Bitter', serif; font-weight: 700;font-size: 25px;"
      >
        Media Designer
      </p>
      <p
        style="font-family: 'Bitter', serif; margin-top: -1em;font-weight: 100;font-size: 20px;"
      >
        Design The Meaning
      </p>
    </div>
  </div>


</html>
