---
// src/layouts/BaseLayout.astro
const { title = "Dangerous Angels Creative" } = Astro.props;
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <link rel="stylesheet" href="/styles/global.css" />
  </head>
  <header>
    <nav class="bg-dark">
      <a href="/"
        ><img
          src="/src/images/dac_logo.png"
          height="60px"
          style="float: left;"
          alt="Logo"
        /></a
      >
      <ul class="list-reset nav-list">
        <li><a href="/">About</a>/</li>
        <li><a href="/">Projects</a>/</li>
        <li><a href="/#resume">Resume</a>/</li>
        <li><a href="/journal">Journal</a></li>
      </ul>
    </nav>
  </header>

  <body>
    <slot />
  </body>


</html>
